* {
    margin: 0;
    padding: 0;
}



@font-face{
    font-family: Custom;
    src: url(CassandraPersonalUseRegular-3BjG.ttf);

    
}

@font-face {
    font-family: Custom2;
    src: url(VeganStylePersonalUse-5Y58.ttf);
}

body{
    
    background-image: linear-gradient(to top,  #ebd9d9 0%, #d6b3bc 1%, #beb2b6 100%);
}
.wrapper {
    text-align: center;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    border-radius: 10px;
}
.wrapper p {
    font-size: 28px;
    line-height: 36px;
    font-family: cursive;
}

.nav-wrapper{
    font-family: Custom2;
    background-color: rgb(163, 105, 129);
    padding: 20px;
    border-radius: 0px;    
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-wish-wrapper{
    font-family: 'Times New Roman', Times, serif;
    color: darkgrey;
    font-size: 20px;
    background-color: rgb(4, 49, 4);
    padding: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
}

a{
    padding: 14px 16px;
    margin: 1px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: rgb(223, 209, 216);
    text-decoration: none;
}

a:hover, a:active{
    background-color: lightslategrey;
}

.wrapper p{
    font-family: ;
}

.column{
    padding: 0px;
    align-content: center;


}


img{
    width: 10%;
    visibility: 20%;
    padding: 0px;
    border: 0px;
    margin: opx;
    transition: transform .5s;
    
}

img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    
}

h1{
    color: rgb(92, 83, 83) ;
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    font-size: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: Custom;
    font-weight: 600;
}
p{
    font-size: 20px;
}

#wishbody{
    background-image: url(../images/BG.png);
    background-attachment: fixed;
    max-height: 100vh;
    
}

.wish-wrapper{
    color: white;
    max-height: 90vh;
    overflow-y: scroll;
}


.chat{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 0 ;
    margin-right: 10%;
}

.chat h2, .chat p{
    margin-left: 15px;
}

#AS{
    color: orange;
}

#ASF{
    color: rgb(89, 89, 180);
}

#AG{
    color: teal;
}

#TJ{
    color: rgb(197, 22, 197);
}

#SM{
    color: rgb(120, 255, 102);
}

.chat-me{

    background-color: rgb(190, 233, 190);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    margin-right: .5%;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    border-top-right-radius: 0 ;
    margin-left: 10%;
   
    
   
}
.input-wrapper{
    background-color: rgb(166, 172, 166);
    width: 100%;
    padding: 9px;
    position: absolute;
    bottom: 0%;
    
}
#inputbox{
   height: 40px;
   border-radius: 30px;
   padding: 1%;
   width:95%;
   font-size: large;
}
#input-btn{
    min-height: 30px;
    height: 50px;
    width: 3%;
    border-radius: 50%;
    background-color: rgb(4, 49, 4);
    color: white;
    font-size: large;
}

